<section class="section">
  <div class="login">
    <div class="image">
    </div>
    <h3>Login to your account</h3>
    <%= simple_form_for :session, url:login_path do |f| %>
      <%= flash[:message] %>
      <div class="field">
        <div class="control">
          <%= f.text_field :username, placeholder:"Username", class:"username-field", id:"username"%>
        </div>
        <div class="control">
          <%= f.button :submit, "Login", class:'btn is-info is-medium', id:"login" %>
        </div>
        <span>Don't have an account? <%= link_to "Sign up", signup_path %></span>
      </div>
    <% end %>
  </div>
</section>