<section class="section">
  <div class="container">
    <div class="columns">
      <%= render 'profile' %>
      <%= render 'trends' %>
      <%= render 'feed' %>
      <%= render 'who-to-follow' %>
    </div>
  </div>
</section>
<%= link_to 'New Opinion', new_opinion_path %>
