 <div class="home-user">
  <div class="middle-section container">
    <div class="tweet-section">
      <h4>What's Happening?</h4>
      <div>
        <%= form_for @opinion do |opinion| %>
          <%= opinion.text_field :text, class:"tweet", id:"text"%>
          <%= opinion.submit "Tweet", class: "btn text-btn" %>
        <% end %>
      </div>
    </div>
    <div class="new-tweets">
      <h4><%= Opinion.count %> NEW OPINIONS</h4>
      <% Opinion.newsfeed_opinions.each do |opinions|%>
        <div class="user-opinions">
           <%= link_to user_path(current_user), class: 'user' do %>
              <% unless current_user[:Photo].nil? %>
                <%= gravatar_image_tag user.Photo.thumb.url, class: 'photo' %>
              <% else %>
                <%= image_tag opinion.Author.photo.thumb.url %>
              <% end %>
            <% end %>
          <div class="user-details"> 
            <h5><%= link_to opinions.author.username, user_path(opinions.author.id) %></h5>
            <span><%= opinions.text %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="rightbar-home">
    <h4>WHO TO FOLLOW</h4>
    <% current_user.not_following.each do |f|  %>
      <div class="user-section">
        <div class="picture">
              <%= link_to user_path(current_user), class: 'user' do %>
                <% unless current_user[:Photo].nil? %>
                  <%= gravatar_image_tag user.Photo.thumb.url, class: 'photo' %>
                <% else %>
                <%= image_tag opinion.Author.Photo.thumb.url %>
                <% end %>
              <% end %>
        </div>  
        <div class="user-details">
          <%= f.fullname %>
          <%= link_to f.username, user_path(f.id) %>
        </div>
      </div>
    <% end %>
  </div>
</div>