<section class="section">
  <div class="container">
    <div class="columns">
        <%= render 'sidebar' %>
        <%# <%= render 'profile' %>
        <%# <%= render 'trends' %>
      <%= render 'feed' %>
      <%= render 'who-to-follow' %>
    </div>
  </div>
</section>
<%= link_to '', new_opinion_path %>
