<div class="login-cover text-center">
  <div class="twitter-logo">
      <i class="fab fa-twitter fa-3x"></i>
  </div>
  <h3>Sign Up to Twitter</h3>
</div>
<% if @user.errors.any? %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
            <div class="panel-body">
              <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>      
      </div>
    </div>
<% end %>
<%= form_for (@user), :url => users_path, :html => {class: "text-center login-form"} do |f| %>
  <div class="form-label">
    <%= f.label :Username, class: "username-label" %>
  </div>
  <div class="form-input">
    <%= f.text_field :username, class: "username-input", placeholder: "Enter Username" %>
  </div>

  <div class="form-label">
    <%= f.label :Fullname, class: "Fullname-label" %>
  </div>
  <div class="form-input">
    <%= f.text_field :fullname, class: "Fullname-input", placeholder: "Enter Fullname" %>
  </div>

  <div class="form-label">
    <%= f.label :Photo, class: "Photo-label" %>
  </div>
  <div class="form-input">
    <%= f.file_field :profilephoto, class: "Photo-input text-center" %>
  </div>

  <div class="form-label">
    <%= f.label :CoverImage, class: "cover-image-label" %>
  </div>
  <div class="form-input">
    <%= f.file_field :coverImage, class: "cover-image-input text-center" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Sign Up",  class: "btn btn-primary signup-btn"%>    
  </div>
  <%= link_to "Login in to Twitter", login_path %>
<% end %>